<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik" value="https://nuget.telerik.com/nuget/" />
  </packageSources>

  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="huzle89@gmail.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAc6TCgAUDAkS7fR/gYBfpgAAAAAACAAAAAAAQZgAAAAEAACAAAACy/RliUmbkAQ5im0J3WsvmCSh5Y6tRqutY1tCbXfOjOAAAAAAOgAAAAAIAACAAAADAn7wscvMpt9CHN3J6h3zqtY8hi7b60A5qkbA9KXmNciAAAADuP534MUurDMgtNN1yK8+i5JCTUttY2zQBcMgU1e5AMUAAAADk7Zi7TrJHXryzMX84kVpUI4j3/azxqbK1KK2+t2/7RXvh7mvqTDCEggWd0vz5Psyz1lhAPXzxXwGNn+wHDgqp" />
    </Telerik>
  </packageSourceCredentials>
  <!--How to update credentials-->
  <!--1. Download nuget.exe, place in any folder (optional set environment variable)-->
  <!--2. execute following commannd with parameters: nuget sources update -Name "Telerik" -Source "https://nuget.telerik.com/nuget/" -username "<USERNAME>" -password "<PASSWORD>" -configFile "<PATH TO nuget.config>"-->
</configuration>