<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik" value="https://nuget.telerik.com/nuget/" />
  </packageSources>

  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="eMailForTelerikAccount" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAc6TCgAUDAkS7fR/gYBfpgAAAAAACAAAAAAAQZgAAAAEAACAAAtnb5QvdoBjeo4uYo+4fIBypTdaqAgGMVkEwgHwAAAAAOgAAAAAIAACAAAAA/t+NjJXabMoXH4NUItfN2I5qMwcYGn27pXgSHeA/l4RAAAAA2QbEyugFQAdTgcrhw/b4DQAAAAFJR15ZFZ4Hgbih20wzI0sNmIZG6wpGGBQCwquqa44sqxvyNgnay0XScHNdfS0YMzXYdA1J2Pzzuu2o=" />
    </Telerik>
  </packageSourceCredentials>
  <!--How to update credentials-->
  <!--1. Download nuget.exe, place in any folder (optional set environment variable)-->
  <!--2. execute following commannd with parameters: nuget sources update -Name "Telerik" -Source "https://nuget.telerik.com/nuget/" -username "<USERNAME>" -password "<PASSWORD>" -configFile "<PATH TO nuget.config>"-->
</configuration>
